*.class

# Package Files #
*.jar
*.war
*.ear

.settings/
.project
.classpath
.springBeans
**/target/
/commit.txt
/*/logs/
/*/wrk/
effective-pom.xml
effective-settings.xml
/*/.gwt/
.cache
.idea/
*.iml
*.log
*.lck
*.jar
*/dependency-reduced-pom.xml